
<p class="alert alert-warning">@(Resources.Messages.Common.GridEmptyText)</p>

@code {

    // ********************
    #region Properties


    #endregion

    // ********************
    #region Events

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    #endregion

}
